<div class="center-container">
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="{{ include.rootpath }}" class="pure-menu-link">New Snippet</a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ include.rootpath }}public.html" class="pure-menu-link">Public Snippets</a>
        </li>
        <li class="pure-menu-item">
            <a href="http://github.com/benkaiser/pages-pastebin/" target="_blank" class="pure-menu-link">Source</a>
        </li>
    </ul>
</div>
</div>
